---
Checks: >
  abseil-*,
  bugprone-*,
  cert-*-cpp,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  google-*,
  hicpp-*,
  llvm-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -clang-analyzer-*osx*,
  -*-braces-around-statements,
  -google-objc-*,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -bugprone-easily-swappable-parameters,
  -google-build-using-namespace,
  -google-readability-todo,
  -google-readability-namespace-comments,
  -readability-identifier-length,
  -modernize-use-trailing-return-type,

HeaderFilterRegex: '.*melon.*'

CheckOptions:
  - key: bugprone-exception-escape.IgnoredExceptions
    value: std::bad_alloc
...

