---
Checks: >
  abseil-*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  google-*,
  hicpp-*,
  llvm-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -bugprone-easily-swappable-parameters,
  -google-build-using-namespace,
  -google-readability-todo,
  -*-braces-around-statements,
  -readability-identifier-length,
  -modernize-use-trailing-return-type,

HeaderFilterRegex: '.*include/melon/.*'
UseColor: true
...

